.scheduled-transition {
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.scheduled-transition label {
    display: inline;
    font-weight: normal;
}

.scheduled-transition label::before,
.scheduled-transition label::after {
    content: " ";
}
